<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arivals</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <img src="logo_main.png" alt="Logo">
    </div>
    <div class="search-box">
        <text>Flight.No / Ticket.No</text>
      <input type="text" placeholder="Search">
      <button>Search</button>
    </div>
  </div>
</header>
<nav>
  <div class="container">
    <a href="#">Arrival</a>
    <a href="#">Departure</a>
    <a href="#">Terminal</a>
    <a href="#">Gate</a>
  </div>
</nav>
<ul id="dataList"></ul>
<div class="background-image-container">
  <script>
    // Fetch data from the server
    fetch('/')
        .then(response => response.json())
        .then(data => {
            const dataList = document.getElementById('dataList');
            // Iterate over the data and create list items dynamically
            data.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = JSON.stringify(item);
                dataList.appendChild(listItem);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
</script>

</body>
</html>
