<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="logo">
      <img src="/images/logo_main.png" alt="Logo">
    </div>
    <div class="search-box">
      <span>Flight.No</span>
      <form action="/search" method="GET">
        <input type="text"  id="query" name="query" placeholder="Search">
        <button type="submit">Search</button>
      </form>
      <form action="/" method="GET">
        <button class="button-2" type="submit">Login</button>
      </form>
    </div>
  </div>
</header>
<nav> 
  <div class="header_container">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/database1">Arrival</a>
    <a href="http://localhost:3000/database2">Departure</a>
    <a href="http://localhost:3000/book"><div class="highlight">Book</div></a>
    <a href="http://localhost:3000/cargo">Cargo</a>
  </div>
</nav>
<div class="background"><img src="/images/book.png" height="950" width="1600" alt="background"></div>
<div class="container">
    <div class="login_position">
    <form action="/search_flight" method="GET">
    <input type="text"  id="from" name="from" placeholder="From">
    <input type="text"  id="to" name="to" placeholder="To">
    <input type="date"  id="date" name="date">
    <button type="submit">Search</button>
    </form>
    <form action="/signup" method="GET">
    <button class="button-2" type="submit">Have a Account?Sign-in.</button>
  </form>
  </div>
</div>
</body>
</html>