<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Departure Search</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="logo">
      <img src="/images/logo_main.png" alt="Logo">
    </div>
    <h1>Delhi</h1>
    <div class="search-box">
      <span>Flight.No</span>
      <form action="/search" method="GET">
        <input type="text"  id="query" name="query" placeholder="Search">
        <button type="submit">Search</button>
      </form>
      <form action="/" method="GET">
        <button class="button-2" type="submit">Login</button>
      </form>
    </div>
  </div>
</header>
<nav>
  <div class="header_container">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/database1">Arrival</a>
    <a href="http://localhost:3000/database2">Departure</a>
    <a href="http://localhost:3000/book">Book</a>
    <a href="http://localhost:3000/cargo"><div class="highlight">Cargo</div></a>
  </div>
</nav>
<ul id="data-list"></ul>
<div class="background_cargo"><img src="/images/cargo_login.png" height="665" width="1650" alt="background"></div>
<div class="container">
  <div class="content">
    <div class="login_position">
    <form action="/cargo_search" method="GET">
        <input type="email" id="email" name="email" placeholder="Email" required><br>
        <input type="text" id="cargo_id" name="cargo_id" placeholder="Cargo Id" required><br><br>
        <button type="submit">Search</button>
    </form>
</div>
</div>
</div>
</body>
</html>