* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 83vh; /* Set the height of the container to fill the viewport */
    overflow-y:auto; /* Allow content to scroll */
  }

  .container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background image stays behind the content */
  }

  .background_client {
    position: fixed;
    margin-top: 100;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background image stays behind the content */
  }

  .background_home {
    position: fixed;
    margin-top: 50;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background image stays behind the content */
  }

  .background_cargo {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background image stays behind the content */
  }

  /* Style for header */
  header {
    background-color: #0D2137;
    color: #fff;
    padding: 5px 0;
  }
  
  .header_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text1{
    text-align: center; /* Center the text */
    padding-right: 50%; /* Take up remaining space */
  }

  .title {
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    background-color: #0D2137;
    color: #fff;
  }
  
  /* Style for logo */
  .logo img {
    margin-left:10px;
    max-width: 200px;
  }
  
  /* Style for search box */

  .search-box form {
    display: inline-block; /* Ensure forms are inline */
  }
  .search-box input[type="text"] {
    padding: 8px;
    border: 1px solid black; /* Adding a black border */
    border-radius: 4px;
  }

  .search-box span{
    display: inline-block; 
    padding: 5px;
  }
  
  .search-box button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .search-box .button-2 {
    display: inline-block;
    padding: 8px 16px;
    background-color: transparent;
    color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  /* For home page*/
  .login_position{
    position: sticky;
    width: 250px;
    height: 167px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 200px;
    margin-left: 50px;
  }

  /* For admin */
  .login_position2 {
    margin-left:700px;
    margin-top: -50px;
}

.login_position3 {
  margin-left:900px;
  margin-top: -162px;
}

.login_position4 {
  margin-left:1100px;
  margin-top: -75px;
}

.login_position5 {
  margin-left:700px;
  margin-top: -20px;
}

.login_position6 {
margin-left:900px;
margin-top: -462px;
}

.login_position7 {
margin-left:1100px;
margin-top: -75px;
}

.login_position8 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  }

.login_position input[type="flightNumber"],
.login_position input[type="origin"],
.login_position input[type="scheduledArrivalTime"],
.login_position input[type="estimatedArrivalTime"],
.login_position input[type="status"],
.login_position input[type="gate"],
.login_position input[type="baggageClaim"],
.login_position input[type="airline"],
.login_position input[type="terminal"],
.login_position input[type="remarks"],
.login_position input[type="email"],
.login_position input[type="text"],
.login_position input[type="password"],
.login_position input[type="date"],
.login_position input[type="cargo_id"]
{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid black; /* Adding a black border */
    border-radius: 4px;
}

  .login_position button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .login_position .button-2 {
    font-size: 8;
    padding: 0px 0px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 9px;
  }
  /* Admin ends here */

  .next_search {
    margin-top: 10px;
    }

    .next_search input[type="date"],
    .next_search input[type="text"]
{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid black; /* Adding a black border */
    border-radius: 4px;
}

  /* Navigation styles */
  nav {
    background-color: rgb(180, 180, 236);
    color: #fff;
  }
  
  nav a {
    display: inline-block;
    padding: 10px 100px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #3b3baf;
  }

  .highlight{
    color:#000000 ;
  }

  .high {
    color: #ffffff;
    font-family: 'Courier New', sans-serif;
    font-size: larger;
  }
  
ul {
  list-style-type: none;
  padding: 0;
}
li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
}
.item-title {
  font-weight: bold;
  margin-bottom: 20px;
}
.item-info {
  margin-left: 180px;
  font-size: 0.9em;
  text-align: left;
  margin-top:-135px ;
  line-height: 1.2;
}

.item-info_2 {
  margin-left: 180px;
  font-size: 0.9em;
  text-align: left;
  margin-top:-135px ;
  line-height: 1.2;
  margin-right: -80px;
}

.data-list {
  list-style-type: none;
  padding: 0;
}

.data-item {
  display: inline-block;
  width: 30%; /* Adjust as needed */
  height: 200px;
  vertical-align: top; /* Align items to the top */
  margin-right: 10px; /* Add some space between items */
  background-color: rgba(255, 255, 255, 0.8); 
}

.data-item_2 {
  display:flex;
  min-width: 1479px;
  max-width: 1479px;
  vertical-align: top; /* Align items to the top */
  background-color: rgba(255, 255, 255, 0.8); 
  margin-top: 20px;
}

.content {
  position: absolute;
  top: 0; /* Threshold position */
  z-index: 1; /* Set the z-index of the content container to 1 to ensure it's above the background */
  padding: 20px;
  color: #000000;
  text-align: center;
  height: auto;
  width: auto;
}

.data_box{
  display: inline-block;
  width: 5px;
  vertical-align: top; /* Align items to the top */
  margin-right: -100px; /* Add some space between items */
}

.footer {
  width: 100%;
  height: 85px; /* Adjust height as needed */
  background-color: #331A53;
  bottom: 0; /* Align to the bottom */
  z-index: 10009; /* Ensure the footer stays above the sidebar */
}

.delay_box {
  margin-left: 100px;
  margin-top: 148px;
  white-space: nowrap;
}

.delay_box_2 {
  margin-left: 100px;
  margin-top: 148px;
  color: transparent;
  white-space: nowrap;
}

.transparent {
  color: transparent;
}


.container_2 {
  display: flex;
  align-items: flex-start;
}

.container_2 button {
  display: inline-block;
  padding: 4px 8px;
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #3498db; 
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -920px;
  margin-top: 40px;
  text-decoration: underline;
}

.from_box,
.to_box {
  flex: 0 0 auto;
  margin-top: -183px;
  height: 50px;
  background-color: rgba(42, 155, 86, 0); /* Transparent background */
}

.from_box {
  width: 500px;
  margin-left: 150px;
}

.to_box {
  width: 500px;
  margin-left: 365px;
}

.transparent_box,
.transparent_box_2 {
  flex: 0 0 auto;
  margin-top: -125px;
  height: 100px;
  background-color: rgba(42, 155, 86, 0); /* Transparent background */
}

.transparent_box{
  width: 650px;
  margin-left: 50px;
}

.transparent_box_2{
  width: 580px;
  margin-left: 255px;
}

.logo_from img,
.logo_to img {
  height: auto; /* Preserve aspect ratio */
  width: 90px; /* Set width */
}

.logo_from img {
  margin-top: 335px; /* Adjust vertical position as needed */
  margin-left: 170px; /* Adjust horizontal position as needed */
}

.logo_to img {
  margin-top: 335px; /* Adjust vertical position as needed */
  margin-left: 810px; /* Adjust horizontal position as needed */
}

.colourwhite {
  color: rgb(0, 0, 0);
}
  /* For no_booking */
.largeletter {
  font-family: cursive; /* Set the font-family to cursive */
  font-size: 50px; /* Adjust the font-size as needed */
  color: white; /* Set the color to white */
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.airline_info {
  margin-left: 25px;
  margin-top: 5px;
  max-width: 80px;
  min-width: 80px;
}

.booked{
margin-left: -60px;
}

.departure_info,
.flight_time_info,
.destination_info,
.price_info {
  margin-left: 145px;
  min-width: 150px;
}

.price_info{
  margin-top: 10px;
  margin-right: 50px;
}

.logo_ticket img {
  height: auto; /* Preserve aspect ratio */
  width: 50px; /* Set width */
}

.loginContainer{
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: -500px;
  margin-left: 650px;
  position:absolute;
  z-index: 999;
  width: 250px;
  height: auto;
  background-color: #0D2137;
  border: 0px solid #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: center;
}

.loginContainer input[type="email"],
.loginContainer input[type="password"]
{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black; /* Adding a black border */
  border-radius: 4px;
}

.loginContainer .button-2 {
  font-size: 8;
  padding: 0px 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 9px;
}

.loginContainer .closeBtn {
  font-size: 8;
  padding: 0px 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 9px;
}

.overlay {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}

.loginContainer2{
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 650px;
  position:absolute;
  width: 250px;
  height: auto;
  background-color: #0D2137;
  border: 0px solid #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
}

.loginContainer2 input[type="email"],
.loginContainer2 input[type="password"]
{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black; /* Adding a black border */
  border-radius: 4px;
}

.loginContainer2 .button-2 {
  font-size: 8;
  padding: 0px 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 9px;
}

.loginContainer2 .closeBtn {
  font-size: 8;
  padding: 0px 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 9px;
}

.overlay2 {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}


.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  z-index: 99999;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0D2137;
  max-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logo_ticket_2  {
  margin-right: 280px;
  text-align: left;
  margin-top: -15px;
}

.logo_ticket_2 img {
  height: auto; /* Preserve aspect ratio */
  width: 100px; /* Set width */
  margin-right: 250px;
  margin-top: 30px;
  margin-left: 20px;
}

.logo_ticket_3  {
  text-align: left;
  margin-top: -15px;
}

.logo_ticket_3 img {
  height: auto; /* Preserve aspect ratio */
  width: 100px; /* Set width */
  margin-right: 280px;
  margin-bottom: 30px;
}

.status {
  width:200px;
  text-align: right;
  margin-left: 215px;

}

.status_box_blue {
  width: 80px;
  height: auto;
  text-align: center;
  background-color: #3498db; /* Blue background color */
  border: 2px solid #2980b9; /* Darker blue border */
  margin-left: 340px;
  margin-top: -18px;
  border-radius: 10px;
  color: #f9f9f9;
}

.status_box_red {
  width: 80px;
  height: auto;
  text-align: center;
  background-color: #db3434; /* Blue background color */
  border: 2px solid #b92929; /* Darker blue border */
  margin-left: 340px;
  margin-top: -18px;
  border-radius: 10px;
  color: #f9f9f9;
}

.status_box_green{
  width: 80px;
  height: auto;
  text-align: center;
  background-color: #29b952; /* Blue background color */
  border: 2px solid #58db34; /* Darker blue border */
  margin-left: 340px;
  margin-top: -18px;
  border-radius: 10px;
  color: #f9f9f9;
}